.home-name{
    text-align: center;
    font-size: 40pt;
    text-transform: uppercase;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    padding-top: 15pt;
    padding-bottom: 15pt;
    display: flex;
    justify-content: space-around;
    background-color:powderblue;
    
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15pt;
}

nav ul li a:hover {
    border-bottom: 1pt solid black;
}

.aboutPlusPhoto{
    display: flex;
    padding: 20pt;
}

.courses-section{
    padding: 15pt;
}

.list-description{
    text-align: center;
}

.organizations-heading{
    padding: 15pt;
}
